workflows/restart_mobile_devices.asl.asl.yaml
Comment: Restart mobile devices in a group.
StartAt: Get Group Members

States:

  Get Group Members:
    Type: Task
    Resource: arn:aws:states:::http:invoke
    Parameters:
      ApiEndpoint.$: States.Format('${JamfProUrl}/JSSResource/mobiledevicegroups/id/{}', $.event. jssID)
      Method: GET
      Authentication:
        ConnectionArn: ${JamfConnectionArn}
      Headers:
        Accept: application/json
    Retry:
      - ErrorEquals:
          - States.ALL
        BackoffRate: 2
        IntervalSeconds: 1
        MaxAttempts: 3
        JitterStrategy: FULL
    Next: Restart All Devices

  Restart All Devices:
    Type: Map
    End: true
    MaxConcurrency: 5
    ItemsPath: $.mobile_devices
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: Get Management ID
      States:

        Get Management ID:
          Type: Task
          Resource: arn:aws:states:::http:invoke
          Parameters:
            ApiEndpoint.$:  States.Format('${JamfProUrl}/api/v2/mobile-devices/{}', $.event.jssID)
            Method: GET
          Retry:
            - ErrorEquals:
                - States.ALL
              BackoffRate: 2
              IntervalSeconds: 1
              MaxAttempts: 3
              JitterStrategy: FULL
          Next: Restart Mobile Device

        Restart Mobile Device:
          Type: Task
          Resource: arn:aws:states:::http:invoke
          Parameters:
            ApiEndpoint: ${JamfProUrl}/api/preview/mdm/commands
            Method: POST
            Authentication:
              ConnectionArn: ${JamfConnectionArn}
            RequestBody:
              commandData:
                commandType: RESTART_DEVICE
              clientData:
                - managementId.$: $.managementId.value
          Retry:
            - ErrorEquals:
                - States.ALL
              BackoffRate: 2
              IntervalSeconds: 1
              MaxAttempts: 3
              JitterStrategy: FULL
          Catch:
            - ErrorEquals:
                - States.ALL
              Comment: On Error
              Next: Error Sending MDM Command
              ResultPath: $.error
          End: true

          Error Sending MDM Command:
            Type: Pass
            Comment: An error occurred sending this commend. The details are in the input of this state.
            End: true
